import PropTypes from 'prop-types';

class Greeting extends React.Component {
    static propTypes = {
        name: PropTypes.string
    }

    render() {
        return (
            <h1>Hello, {this.props.name}</h1>
        );
    }
}
